* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* Style Navbar */
nav {
    background-image: url(image/rtyy.jpg);
    position: relative;
    padding: 20px 0;
    color: rgb(238, 255, 3);
    background-size: cover;
    font-size: large;
    text-align: center;
}

/* Jarak Tulisan pada Card */
.image p,
.image h3 {
    margin-left: 10px;
    margin-bottom: 5px;
}

/* Style tombol pada Card */
.btnsewa {
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 20%;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Style untuk Card */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    font-size: medium;
}

.image:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .75);
    background: #ffffff;
}

img {
    margin-left: 20%;
}

.image {
    width: 25%;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .75);
    transition: 1s;
}

img {
    width: 200px;
}

/* Style Keterangan */
.ket {
    text-align: center;
    font-size: large;
}

/* Style untuk Input Sewa */
.contain {
    font-family: 'Oswald', sans-serif;
    margin: 10px 200px;
    display: block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .75);
    border: 1px solid black;
}

/* Style untuk Header */
.barang {
    margin: auto;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    padding: 10px 10px;
}

/* Style untuk Inputan data */
.tab {
    margin-left: 150px;
    margin-bottom: 2px;
    margin-top: 10px;
    font-size: large;
}

.contain td {
    width: 200px;
}


.contain td input[type=text],
.contain td input[type=number],
.contain td input[type=datetime-local] {
    width: 185%;
    padding: 10px 10px;
    margin: 25px 30px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

.contain select {
    width: 185%;
    padding: 10px 10px;
    margin: 25px 30px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

.hitung {
    width: 80%;
    padding: 10px 0;
    background-color: coral;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-style: oblique;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

#ganti {
    width: 80%;
    padding: 10px 0;
    background-color: aqua;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-style: oblique;
    margin-bottom: 10px;
    margin-left: 50px;
    border-radius: 5px;
}

#edit {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: black;
    width: 80%;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-left: 30px;
    border-radius: 5px;

}

/* Style untuk Tabel Output */
hr {
    margin: 20px;
}

.tabbrg {
    width: 95%;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: medium;
}

.th {
    background-color: orange;
}

thead th,
thead td {
    border: 1px solid black;
    text-align: center;
}


#tampilan {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-size: medium;
}

.btna {
    width: 40%;
    border-radius: 5px;
    margin: 2px 5px;
    padding: 10px 0;
    font-size: small;
}

.edit {
    background-color: rgb(207, 207, 0);
    color: white;
}

.hapus {
    background-color: red;
    color: white;
}

.details {
    background-color: darkblue;
    color: white;
}