* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-image: url(image/rtyy.jpg);
    position: relative;
    padding: 20px 0;
    color: rgb(255, 255, 255);
    background-size: cover;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

img {
    width: 200px;
}

.ket {
    text-align: center;
}